:root {
    --bw-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 33vh;

    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
    font-size: medium;
}

figcaption {
    font-size: small;
}

label {
    font-style: italic;
}

cite {
    font-style: normal;
    color: gray;
}

.highlight-yellow {
    background-color: yellow;
    color: black;
}

.main {
    margin: auto;
    width: 30rem;

    > p {
        text-indent: 2rem;
    }

    @media screen and (max-width: 600px) {
        width: 80%;
    }
}

.timeline-date {
    top: 2em;
    margin-left: 3em;
    align-items: end;
    position: sticky;
    display: inline-block;
    font-size: large;
    background-color: white;
    color: black;
}

#photo-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;

    background-image: var(--bw-gradient), url("images/background.jpg");
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: center;

    font-size: x-large;

    h1 {
        margin-bottom: -0.5rem;
    }
    p {
        font-style: italic;
    }
}

header {
    margin: 4rem 0em;
}

.scroller {
    margin: 20vh auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* Sticky left panel */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; /* full height of viewport */
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0; /* remove padding so map can fit */
    box-sizing: border-box;

    figure > img {
        height: 60vh;
        border: 5px solid white;
        box-shadow: 0px 0px 10px black;

        @media screen and (max-width: 600px) {
            height: 40vh;
        }
    }

    #figure-enemy {
        position: absolute;
        top: 40%;
        left: 35%;
        transform: rotate(-5deg) translate(-50%, -50%);
    }

    #figure-grigg {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: rotate(6deg) translate(-50%, -50%);
    }

    #figure-enemy3 {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: rotate(-12deg) translate(-50%, -50%);
    }
}

#map {
    width: 100%;
    height: 100%; /* fill the sticky panel */
}

/* Scrolling steps on the right */
.steps {
    width: 100%;
}

.step,
.step2 {
    position: relative;
    height: 100vh;

    margin-left: auto;
    margin-right: 5%;
    right: 0%;
    width: 30%;
    text-align: right;

    font-size: medium;
    transition: background-color 0.3s;

    @media screen and (max-width: 600px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }
}

.step span {
    background: white;
    color: black;
    box-decoration-break: clone;
    display: inline;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
}

#timeline {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 2em;
    top: 20%;
    z-index: 10;

    #indicator {
        position: absolute;
        left: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        transition: top 0.5s ease;
    }

    .timeline-node {
        height: 10px;
        text-align: left;

        span {
            transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out, color 0.3s ease-in-out;
            opacity: 0.3;
            padding-left: 1em;
            position: relative;
            width: 100%;
        }
    }

    .timeline-node.active span {
        background-color: yellow;
        color: black;
        opacity: 1;
    }
}
