:root {
    --bw-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 33vh;

    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
}

label {
    font-style: italic;
}

cite {
    font-style: normal;
    color: gray;
}

.main {
    margin: auto;
    width: 30em;

    > p {
        text-indent: 2em;
    }
}

.timeline-date {
    top: 2em;
    margin-left: 3em;
    align-items: end;
    position: sticky;
    display: inline-block;
    font-size: 2em;
    background-color: white;
    color: black;
}

#photo-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1em;

    background-image: var(--bw-gradient), url("images/background.jpg");
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: center;

    font-size: 3em;

    h1 {
        margin-bottom: -0.5em;
    }
    p {
        font-style: italic;
    }
}

header {
    margin: 4em 0em;
}

.scroller {
    margin: 20vh auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* Sticky left panel */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; /* full height of viewport */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    padding: 0; /* remove padding so map can fit */
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%; /* fill the sticky panel */
}

/* Scrolling steps on the right */
.steps {
    width: 100%;
}

.step {
    position: relative;
    height: 100vh;

    margin-left: auto;
    margin-right: 3em;
    right: 0%;
    width: 30%;
    text-align: right;

    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.step span {
    background: white;
    color: black;
    box-decoration-break: clone;
    display: inline;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
}
