body {
    margin: auto;
    font-family: Arial, sans-serif;
    width: 40em;
    background-color: black;
    color: white;
}

.scroller {
    margin: auto;
    position: relative;
    left: -25%;
    width: 150%;
    min-height: 100vh;
}

/* Sticky left panel */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; /* full height of viewport */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    padding: 0; /* remove padding so map can fit */
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%; /* fill the sticky panel */
}

/* Scrolling steps on the right */
.steps {
    width: 100%;
    /* width: 30%; */
}

.step {
    position: relative;
    height: 100vh;

    margin-left: auto;
    margin-right: 0%;
    right: 0%;
    width: 30%;
    text-align: right;

    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.step span {
    background: white;
    color: black;
    box-decoration-break: clone;
    display: inline;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
}
