/* MARK: High Level 
*/
:root {
    --bw-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
}

figcaption { font-size: small; }
label { font-style: italic; }
cite { font-style: normal; color: gray; }
.highlight-yellow { background-color: yellow; color: black; }

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 33vh;

    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
    font-size: medium;
}

.main {
    margin: auto;
    width: 30rem;

    > p { text-indent: 2rem; }

    @media screen and (max-width: 600px) {
        width: 80%;
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
}

.quote {
    padding: 10% 10%;

    > p {
        font-style: italic;
    }

    > span {
        float: right;
    }
}

/* MARK: Header
 */
#photo-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;

    background-image: var(--bw-gradient), url("images/background.jpg");
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: center;

    font-size: x-large;

    h1 { margin-bottom: -0.5rem; }
    p { font-style: italic; }
}

header { margin: 4rem 0em; }

/* MARK: Scrollers
 */
.scroller {
    margin: 20vh auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; 
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0; 
    box-sizing: border-box;

    figure > img:not(.no-border) {
        height: 60vh;

        border: 5px solid white;
        box-shadow: 0px 0px 10px black;

        @media screen and (max-width: 600px) {
            height: 40vh;
        }
    }

    #figure-enemy {
        position: absolute; top: 40%; left: 35%;
        transform: rotate(-5deg) translate(-50%, -50%);
    }

    #figure-grigg {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(6deg) translate(-50%, -50%);
    }

    #figure-dodd {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(-3deg) translate(-50%, -50%) scale(70%);
    }

    #figure-bored-games {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(4deg) translate(-50%, -50%) scale(80%);
    }

    #figure-verlaines {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(0deg) translate(-50%, -50%) scale(70%);
    }

    #figure-sneaky-feelings {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(-4deg) translate(-50%, -50%) scale(65%);
    }

    #figure-chills {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(4deg) translate(-50%, -50%) scale(70%);
    }

    #figure-stones {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(-8deg) translate(-40%, -60%) scale(70%);
    }

    #figure-flying-nun {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(8deg) translate(-40%, -50%) scale(80%);
    }

    #figure-bats {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(2deg) translate(-40%, -50%) scale(80%);
    }

    #figure-lbgp {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(2deg) translate(-45%, -50%) scale(70%);
    }

    #figure-radio-one {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(2deg) translate(-45%, -50%) scale(70%);
    }

    #figure-straitjacket-fits {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(2deg) translate(-45%, -50%) scale(70%);
    }

    #figure-dead-c {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(-3deg) translate(-40%, -50%) scale(90%);
    }

    #figure-3ds {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(4deg) translate(-40%, -50%) scale(90%);
    }

    #figure-bike {
        position: absolute; top: 50%; left: 35%;
        transform: rotate(-1deg) translate(-40%, -50%) scale(85%);
    }
}

#map {
    width: 100%;
    height: 100%; 
}

#venues_map {
    width: 100vw;
    height: 100vh;
}

.steps {
    width: 100%;

    iframe {
        margin-top: 2em;
    }
}

.step,
.step2,
.step3,
.step4 {
    position: relative;
    height: 100vh;

    margin-left: auto;
    margin-right: 5%;
    right: 0%;
    width: 20%;

    font-size: small;
    transition: background-color 0.3s;

    @media screen and (max-width: 600px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }
}

.step span {
    padding: 1rem;
    display: block;

    background: white;
    color: black;
    box-shadow: 0px 0px 10px black;
}

.step2 span,
.step3 span,
.step4 span {
    @media screen and (max-width: 600px) {
        background-color: black;
    }
}

.step2 > p,
.step3 > p,
.step4 > p {
    font-style: italic;
    font-size: smaller;
}

/* MARK: Timeline
 */
.timeline {
    @media screen and (max-width: 600px) {
        visibility: hidden;
    }
    
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 2em;
    top: 20%;
    z-index: 10;

    .timeline-node,
    .timeline3-node,
    .timeline4-node {
        height: 10px;
        text-align: left;
        font-size: small;

        span {
            transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out, color 0.3s ease-in-out;
            opacity: 0.3;
            padding-left: 1em;
            position: relative;
            width: 100%;
        }
    }

    .timeline-node.active span,
    .timeline3-node.active span,
    .timeline4-node.active span {
        background-color: yellow;
        color: black;
        opacity: 1;
    }
}
